.animated-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100;
    height: 100;
    z-index: -1;

    background: linear-gradient(
        120deg,
        #d9e4ff,
        #ffffff,
        #e3ffe7,
        #f4e2ff
    );
}

@keyframes gradientWave {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%;}
}