.particles-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    overflow: hidden;
    z-index: -1;
    background: linear-gradient(135deg, #e8f0ff, #f7fdff);
}

.particle {
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 120, 255, 0.3);
    border-radius: 50%;
    filter: blur(2px);
    top: 50%;
    left: 50%;
}